.rocket-card {
  display: flex;
  align-items: center;
}

.rocket-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-right: 15px;
}

.reserve-button {
  background-color: #167bfe;
  color: white;
  cursor: pointer;
  border: none;
  padding: 12px;
  border-radius: 5px;
}

.reserve-button:hover {
  background-color: #0056b3;
}
